* {
     margin: 0; 
     padding: 0; 
  }

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    font-family: "Open Sans", sans-serif;
    
}

.main-container {
    width: 450px;
    background-color: white;
}

.header {
    display: flex;
    margin-top: 0.5rem;
  }

.post-user {
    display: flex;
    flex-direction: column;
    margin-left: .5rem;
  }

  .technology {
    font-weight: bold;
  }


.ellipsis {
    margin-left: auto;
    margin-top: 0.8rem;
    margin-right: 0.2rem;
  }

.img-container {
    margin-top: 0.7rem;
}

.post-body {
    margin-top: 1.5rem;
}

  .icons-container {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .save {
    margin-left: auto;
    margin-right: 0.4rem;
  }

  .post-description {
    margin-top: 2rem;
  }

  .users {
    font-weight: bold;
  }

  .description {
    margin-top: 1rem;
  }